In [5]:
import torch
print(torch.__version__)

2.7.1+cpu

In [7]:
#import libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import variable

In [13]:
#load and read data from Movielens

#movie information dataset
movies=pd.read_csv('data/datasets/movies.dat',sep='::',header=None,
                   engine='python',encoding='latin-1')

#users information dataset
users=pd.read_csv('data/datasets/users.dat',sep='::',header=None,
                  engine='python',encoding='latin-1')

#ratings information dataset
ratings=pd.read_csv('data/datasets/ratings.dat',sep='::',header=None,
                    engine='python',encoding='latin-1')

In [14]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy